# Streamlit Cloud > App settings > Secrets 에 아래 내용을 복붙하세요
# (이 파일 자체는 절대 GitHub에 올리지 마세요)

MONGO_URI = "mongodb+srv://<user>:<password>@cluster0.sftlrje.mongodb.net/?appName=Cluster0"
MONGO_DB = "musinsa_db"
MONGO_COLLECTION = "reviews"
MONGO_COLLECTION_CLEAN = "reviews_clean"
